*{
    background-color: #F4CB16;
}
.main-box {
    text-align: center; /* Alineación del contenido al centro horizontal */
}

.container {
    display: inline-block; /* Para que el contenedor ocupe solo el ancho del contenido */
}

@media (max-width: 900px) {
    /* Estilos para dispositivos móviles con un ancho máximo de 767px */
    .main-box {
        text-align: center;
    }

    .container {
        display: block;
        margin: 0 auto;
    }

    .menu-digital-monics {
    max-width: 100%;
    height: auto;
    }
}  