body {
    width: 390px;
    height: 844px;
    margin: 0;
    padding: 0;
    background: green;
}

.main-box{
    background: blue;
}

.logo{
    max-width: 100%; /* ancho deseado */
    height: auto;
    display: block;
    background: blue;
}